    * {
        box-sizing: border-box;
        /* Can't apply background color everywhere, will break math */
    }
    /* Create two equal columns that floats next to each other */
    
    body {
        background-color: seashell;
    }
    
    #tooltip {
        background: olivedrab;
        color: white;
        font-weight: normal;
        padding: 4px 8px;
        font-size: 16px;
        border-radius: 4px;
        max-width: 320px;
        display: none;
    }
    
    #tooltip[data-show] {
        display: block;
    }
    
    #arrow,
    #arrow::before {
        position: absolute;
        width: 8px;
        height: 8px;
        background: inherit;
    }
    
    #arrow {
        visibility: hidden;
    }
    
    #arrow::before {
        visibility: visible;
        content: '';
        transform: rotate(45deg);
    }
    
    #tooltip[data-popper-placement^='top']>#arrow {
        bottom: -4px;
    }
    
    #tooltip[data-popper-placement^='bottom']>#arrow {
        top: -4px;
    }
    
    #tooltip[data-popper-placement^='left']>#arrow {
        right: -4px;
    }
    
    #tooltip[data-popper-placement^='right']>#arrow {
        left: -4px;
    }
    
    .column {
        float: left;
        padding: 10px;
        /* Should be removed. Only for demonstration */
    }
    
    .blog {
        width: calc((100vw - 370px));
        /*max-width: 700px;
    min-width: 350px;*/
    }
    
    .sidebar {
        width: 350px;
        float: right;
    }
    /* Clear floats after the columns */
    
    .row:after {
        content: "";
        display: table;
        clear: both;
    }
    /* Responsive layout - makes the two columns stack on top of each other instead of next to 
each other */
    
    @media screen and (max-width: 700px) {
        .column {
            width: 100%;
        }
    }