:root {
    counter-reset: figurecounter;
}

* {
    box-sizing: border-box;
    /* Can't apply background color everywhere, will break math */
}


/* Create two equal columns that floats next to each other */

mjx-math a {
    color: red;
}

body {
    background-color: var(--main-bg-color);
    max-width: 680px;
    margin: auto;
    font-size: 20px;
    line-height: 1.4;
}

h1 {
    color: #111;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 54px;
    font-weight: 700;
    line-height: 64px;
    margin: 0 0 0;
    padding: 20px 30px;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 2px 2px 2px gray;
}

h2 {
    color: #111;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 32px;
    font-weight: 700;
    text-align: left;
    margin-bottom: 5px;
    text-shadow: 1px 1px 1px gray;
}

h3 {
    color: #111;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 24px;
    font-weight: 700;
    text-align: left;
    margin-bottom: 5px;
}

p {
    text-align: justify;
    text-justify: inter-word;
    margin-top: 0px;
    margin-bottom: 5px;
}

section.subsection {
    margin-left: 20px;
    padding-bottom: 20px;
}

.collapsible {
    background-color: var(--dark-bg-color);
    color: var(--off-white);
    cursor: pointer;
    padding: 10px;
    width: 100%;
    margin-left: -1px;
    border: none;
    text-align: left;
    outline: none;
    font-size: 20px;
    transition: background-color 0.15s ease-out;
}

.active,
.collapsible:hover {
    background-color: var(--light-bg-color);
}

.collapsible::before {
    content: '\002B';
    color: var(--off-white);
    font-weight: bold;
    float: left;
    margin-left: 5px;
    margin-right: 10px;
}

.active::before {
    content: "\2212";
}

section .content {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: var(--llight-bg-color);
    width: calc(100% - 1px);
}


/* #region Tooltip markings  */

.tooltip,
.itTooltip,
.subtip {
    border-bottom: ridge var(--highlight-text-color);
    padding-top: 2px;
    padding-bottom: 2px;
    border-radius: 5px;
    transition: background-color 0.25s ease, border-bottom 0.25s ease;
    /*background-color: var(--tooltip-marker-bg-color);*/
}

.tooltip:hover,
.itTooltip:hover,
.subtip:hover {
    border-bottom: ridge var(--light-bg-color);
    background-color: var(--highlight-text-color);
}


/* #endregion */


/*.focus ,*/

.example {
    padding-left: 5px;
    padding-bottom: 5px;
    border-image-slice: 1;
    border-top: 0px solid transparent;
    border-right: 0px solid transparent;
    border-left: 4px solid transparent;
    border-bottom: 4px solid transparent;
    border-image-source: linear-gradient(to right, var(--light-bg-color), var(--light-bg-color) 15px, var(--main-bg-color) 50px);
}


/*
.focus {
    border-left: 12px solid transparent;
    border-bottom: 0px solid transparent;
    border-image-source: linear-gradient(to bottom, var(--light-bg-color), var(--light-bg-color) 40px, var(--main-bg-color) 40px, var(--main-bg-color) 49px, var(--light-bg-color) 49px, var(--light-bg-color) 62px, var(--main-bg-color) 62px);
}*/

.focus::before {
    content: url(exclamation.png);
    position: relative;
    top: 50%;
    left: -50px;
    width: 200px;
    height: 100px;
    border: 1px solid #73AD21;
    z-index: 9999px
}

section {
    padding-left: 5px;
    padding-bottom: 5px;
    border-image-slice: 1;
    border-top: 0px solid transparent;
    border-right: 0px solid transparent;
    border-left: 4px solid transparent;
    border-bottom: 0px solid transparent;
    border-image-source: linear-gradient(to bottom, var(--light-bg-color), var(--light-bg-color) 50px, var(--main-bg-color) 200px);
}

.tight {
    padding-left: 0px;
    padding-bottom: 0px;
    margin-bottom: 15px;
    border-left-width: 5px;
    border-bottom-width: 5px;
}


/* #region  Heading styling */

time {
    color: #111;
    display: block;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    position: relative;
    text-align: center;
    z-index: 1;
}

time:before {
    border-top: 1px solid #111;
    content: "";
    position: absolute;
    top: 12px;
    left: 0;
    width: 100%;
    z-index: -1;
}

address {
    color: #111;
    display: block;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    padding-bottom: 38px;
    position: relative;
    text-align: center;
    z-index: 1;
}

address:before {
    border-top: 1px solid #111;
    content: "";
    position: absolute;
    top: 12px;
    left: 0;
    width: 100%;
    z-index: -1;
}

address span,
time span {
    background: var(--main-bg-color);
    padding: 0 10px;
    text-transform: uppercase;
}

img {
    margin-top: 10px
}

figcaption {
    counter-increment: figurecounter;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 70%;
    margin-bottom: 20px;
}

figcaption:before {
    content: "Fig."counter(figurecounter)" ";
}


/* #endregion */

.sbs-proof {
    width: 100%;
    min-height: 210px;
    display: grid;
    grid-template-columns: 50px 1fr;
    grid-template-rows: 70% 30%;
    gap: 0px 0px;
    grid-auto-flow: row;
    margin-top: 15px;
    margin-bottom: 15px;
}

.proof-equations {
    padding: 1em;
    border: 5px solid green;
    overflow-wrap: break-word;
}

.proof-explanation {
    /*counter-reset: sbsstepcounter;*/
    padding: 0.5em;
    border: 5px solid red;
    min-height: 70px;
}

.step {
    margin: 0.5em;
}


/*
.proof-explanation>.step::before {
    counter-increment: sbsstepcounter;
    content: "Step " counter(sbsstepcounter) ": ";
}*/

body {
    counter-reset: section;
    /* Set a counter named 'section', and its initial value is 0. */
}

.proof-navigation {
    padding-top: 10px;
    text-align: center;
    grid-row: 1/3;
    border: 5px solid blue;
    overflow-wrap: break-word;
    /*display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr) 3fr;
    grid-gap: 20px;*/
}

.proof-navigation button {
    margin: 10px 0px;
    font-size: 30px;
    /*height: 50px;
    width: 100%;*/
    background-color: green;
}