:root {
    --main-bg-color: #f8eaf2;
    /*#fff2ff;*/
    /*#e0d0e7;*/
    --dark-bg-color: #714483;
    /* #9381FF; */
    --light-bg-color: #c074df;
    /* #B8B8FF; */
    --llight-bg-color: #ffeaff;
    /* #F8F7FF; */
    --strong-bg-color: #9381FF;
    /*  #FFD8BE; */
    --highlight-text-color: #d4a3e7cb;
    /* #d4a3e780; */
    --off-white: #fffafa;
    --correct-text-color: green;
    --wrong-text-color: red;
    --correct-color: #7cbe7c;
    --wrong-color: #e93030;
    --drag-border-radius: 15px;
    --ILQ-fill: #714483;
    --ILQ-text: #fffafa;
    /* #FFEEDD; */
}


/* For changing the various tooltip themes */

.tippy-box[data-theme~=itt] {
    background-color: var(--ILQ-fill);
}

.tippy-box[data-theme~=itt]>.tippy-backdrop,
.tippy-box[data-theme~=itt][data-placement^=right]>.tippy-arrow:before,
.tippy-box[data-theme~=itt][data-placement^=left]>.tippy-arrow:before,
.tippy-box[data-theme~=itt][data-placement^=bottom]>.tippy-arrow:before,
.tippy-box[data-theme~=itt][data-placement^=top]>.tippy-arrow:before {
    background-color: var(--ILQ-fill)
}

.tippy-box[data-theme~=itt]>.tippy-svg-arrow {
    fill: var(--ILQ-fill)
}


/* Make links red to stand out */

.tippy-box[data-theme~=itt] a,
.tippy-box[data-theme~=itt] a:visited {
    color: red;
}

.tippy-box[data-theme~=ILQ] {
    background-color: var(--ILQ-fill);
    color: var(--ILQ-text);
    line-height: 2.3em;
    border-radius: 10px;
    text-align: left;
    padding-top: 3px;
    padding-bottom: 3px;
}

.tippy-box[data-theme~=ILQ]>.tippy-backdrop,
.tippy-box[data-theme~=ILQ][data-placement^=right]>.tippy-arrow:before,
.tippy-box[data-theme~=ILQ][data-placement^=left]>.tippy-arrow:before,
.tippy-box[data-theme~=ILQ][data-placement^=bottom]>.tippy-arrow:before,
.tippy-box[data-theme~=ILQ][data-placement^=top]>.tippy-arrow:before {
    background-color: var(--ILQ-fill)
}

.tippy-box[data-theme~=ILQ]>.tippy-svg-arrow {
    fill: var(--ILQ-fill)
}