:root {
    --main-bg-color: #f8eaf2;
    /* #F7F9FB; */
    /* #EDF6E1; */
    /*#fff2ff;*/
    /*#e0d0e7;*/
    --dark-bg-color: #714483;
    /* #687864; */
    /* #05386B; */
    /* #9381FF; */
    --light-bg-color: #c074df;
    /* #5085A5; */
    /* #5CDB95; */
    /* #B8B8FF; */
    --llight-bg-color: #f7dae9;
    /* #8FC1E3; */
    /* #8EE4AF; */
    /*#ffeaff;*/
    /* #F8F7FF; */
    --strong-bg-color: #9381FF;
    /* #31708E; */
    /* #379683; */
    /*  #FFD8BE; */
    --highlight-text-color: #d4a3e7cb;
    /* #8EE4AF; */
    /* #d4a3e780; */
    --off-white: #fffafa;
    --correct-text-color: green;
    --wrong-text-color: red;
    --correct-color: #7cbe7c;
    --wrong-color: #e93030;
    --drag-border-radius: 15px;
    --ILQ-fill: var(--dark-bg-color);
    /* #714483; */
    --ILQ-text: #fffafa;
    --itt-fill: var(--dark-bg-color);
    /* #714483; */
    --itt-text: #fffafa;
    --shadow-color: rgba(0, 0, 0, 0.4);
    /* #FFEEDD; */
}


/* For changing the various tooltip themes */

.tippy-box {
    font-size: 18px;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

.tippy-box[data-theme~=itt] {
    background-color: var(--itt-fill);
    color: var(--itt-text);
    text-align: center;
}

.tippy-box[data-theme~=itt]>.tippy-backdrop {
    background-color: var(--itt-fill)
}

.tippy-box[data-theme~=itt][data-placement^=right]>.tippy-arrow:before {
    border-right-color: var(--itt-fill);
}

.tippy-box[data-theme~=itt][data-placement^=left]>.tippy-arrow:before {
    border-left-color: var(--itt-fill);
}

.tippy-box[data-theme~=itt][data-placement^=bottom]>.tippy-arrow:before {
    border-bottom-color: var(--itt-fill);
}

.tippy-box[data-theme~=itt][data-placement^=top]>.tippy-arrow:before {
    border-top-color: var(--itt-fill);
}

.tippy-box[data-theme~=itt]>.tippy-svg-arrow {
    fill: var(--itt-fill);
}


/* Make links red to stand out */

.tippy-box[data-theme~=itt] a,
.tippy-box[data-theme~=itt] a:visited {
    color: red;
}

.tippy-box[data-theme~=ILQ] {
    background-color: var(--ILQ-fill);
    color: var(--ILQ-text);
    line-height: 2em;
    border-radius: 10px;
    text-align: left;
    box-shadow: 0 0 20px 4px rgba(154, 161, 177, .15), 0 4px 80px -8px rgba(36, 40, 47, .25), 0 4px 4px -2px rgba(91, 94, 105, .15);
}

.tippy-box[data-theme~=ILQ]>.tippy-backdrop {
    background-color: var(--ILQ-fill);
}

.tippy-box[data-theme~=ILQ][data-placement^=right]>.tippy-arrow:before {
    border-right-color: var(--ILQ-fill);
}

.tippy-box[data-theme~=ILQ][data-placement^=left]>.tippy-arrow:before {
    border-left-color: var(--ILQ-fill);
}

.tippy-box[data-theme~=ILQ][data-placement^=bottom]>.tippy-arrow:before {
    border-bottom-color: var(--ILQ-fill);
}

.tippy-box[data-theme~=ILQ][data-placement^=top]>.tippy-arrow:before {
    border-top-color: var(--ILQ-fill);
}

.tippy-box[data-theme~=ILQ]>.tippy-svg-arrow {
    fill: var(--ILQ-fill)
}